.cardProducto{
    background: #191c29;
	width: 400px;
	height: 500px;
	margin: 10px;
	padding: 10px 3px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}
.imgProducto{
	width: 300px;
    height: 300px;
}
.VerDetalles{
	margin: 10px;
	padding: 10px;
	color: white;
	border: solid white;
}