header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;

}
ul li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
h1{
    margin: 10px;
}
nav{
    display: flex;
    align-items: center;
    align-content: center;
}