*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  black;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
h1{
    margin: 10px;
    color: white;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    align-content: center;
}